
<div class="container">
    <main role="main" class="pb-3" style="padding-top: 70px;margin-bottom:13px">
<div class="text-center border p-5 mt-4" style="padding:40px;width:60%;margin-left:21%; background: rgb(212, 214, 241); border-radius:12px;">
<center><h3>Add Occupation</h3></center><br>

<form action="/occupation" method="POST" autocomplete="off" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            <select  class="form-control"  id="salle" name="salle">
                <option disabled selected >Salle</option>
                {{#each salles}}
            <option name={{this._id}} value={{this._id}}>{{this.code}}</option>
                {{/each}}
            </select>
        </div>
    </div><br>
    <div class="form-group">
        <div class="col-sm-12">
            <select  class="form-control"  id="creneau" name="creneau">
                <option disabled selected >Créneau</option>
                {{#each creneaux}}
            <option name={{this._id}} value={{this._id}}>{{this.debut}} - {{this.fin}}</option>
                {{/each}}
            </select>
        </div>
    </div><br>
    <div class="form-group">
        <button class="btn btn-primary" style="width: 150px;height:40px" type="submit"><i class="fa fa-database"></i> Submit</button>
    </div>
</form>
</div>
</main>
</div>